<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Page</title>
    <style>
        .feedback { color: green; }
        .complaint { color: red; }
    </style>
</head>
<body>
    <h1>Feedback Page</h1>
    {% if feedbacks %}
        <ul>
            {% for feedback in feedbacks %}
                <li class="{% if feedback[2] == 'F' %}feedback{% else %}complaint{% endif %}">
                    <strong>Name:</strong> {{ feedback[1] }}<br>
                    <strong>Feedback Type:</strong> {{ feedback[2] }}<br>
                    <strong>Mark:</strong> {{ feedback[3] }}<br>
                    <strong>Comment:</strong> {{ feedback[4] }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No feedback available.</p>
    {% endif %}
</body>
</html>
